.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	font-size: 1.125rem;
	padding: 12px 32px;
	border: 2px solid white;
	border-radius: 8px;
	font-weight: 500;
}

.button {
	min-width: fit-content;
	font-weight: 700;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.5rem 1rem;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #e16162;
	color: #004643;
	cursor: pointer;
	transition: border-color 0.25s;
}

.button:hover {
	transform: scale(0.99);
}
.button:active {
	transform: scale(0.97);
}
.button:focus,
.button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 550px) {
	.item {
		padding: 8px 16px;
		gap: 10px;
	}
}
