/* #root {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
} */

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
	padding-block-start: 3rem;
	padding-block-end: 3rem;
	padding-inline: 1rem;
	min-height: 100%;
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.h1 {
	font-size: var(--font-size-h1);
}
